body {
	background: #282828;
	opacity: 1;
	text-align: center;
}

#wrapper {
	position: relative;
	float: center;
	width: 700px;
	height: 680px;
	margin-left: auto;
	margin-right: auto;
	background: gray url('../back.jpg');
	border-radius: 40px;
}

#canvasTop, #mainCanvas {
	//border-radius: 40px;
}

#mainCanvas {
	border: 4px solid white;
	border-radius: 20px;
	top: 50px;
}

#canvasTop {
	border: 4px solid white;
	border-radius: 40px;
}
